*{
  background-color: #555;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #f4f4f9;
  font-size: 1rem;
}

a:hover{
  color: #0088a9;
}

header{
  width: 100%;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.serbia{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 5px; 
}

.navbar .links{
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: #f4f4f9;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: #0088a9;
  color: #f4f4f9;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: #f4f4f9;
}

.action_btn:active{
  scale: 0.95;
}

.dropdown_menu{
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: #555;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.157, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown_menu li:last-child {
  border-bottom: none;
}

.dropdown_menu .action_btn{
  width: 100;
  display: flex;
  justify-content: center;
}

/* Responsive */
@media(max-width: 952px){
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }

  .dropdown_menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media(max-width: 768px) {
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}