<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h3>Resume:</h3>
            <a href="././assets/pdfs/MilosMoskicResume.pdf" download class="download-button">Download CV</a>
        </div>
        <div class="footer-contact">
            <p>Email: <a href="mailto:milosmoskic147@gmail.com">milosmoskic147&#64;gmail.com</a></p>
            <p>Phone: <a href="tel:+381691466848">+381 69 146 6848</a></p>
            <p>Location: Vršac, Serbia</p>
            <p class="footer-copy">&copy; 2024 Mole. All rights reserved.</p>
        </div>
    </div>
    
</footer>