<div class="container" id="front-page">
    <div class="image-section">
        <img src="./assets/me.jpg" alt="Your portrait" class="profile-image">
    </div>
    <div class="text-section">
        <h1>Miloš Moskić</h1>
        <p>Hi, I'm Miloš, I'm 23 years old and I'm from Vršac, Serbia.</p>
        <p>I am a graduate software engineer and currently pursuing a master's degree. I am interested in backend
            programming and software implementation. Here you'll find some of my
            recent work and insights into my skills and approach.</p>
        <p> I am currently looking for a job and new experiences.
            Below are all my contacts, feel free to contact me!</p>

        <div class="social-media">
            <a href="https://www.linkedin.com/in/milosmoskic/" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/MilosMoskic" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/moleelone" target="_blank" aria-label="Twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/moskic_m/" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/@MoleCode-n4q" target="_blank" aria-label="YouTube">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
</div>